
<!-- ko if: dataFetched1() -->

<!-- ko if: !$dashboard.userData.firstLoginFlowDone -->
<div data-bind="component:{name: 'user-login-configuration-header',
  params:{rootModel: $component,data: $data}}">
</div> <!-- /ko -->
<div class="form-main-container profile">

  <!-- ko if: $dashboard.appData.segment !=="RETAIL" -->
  <div class="profile-header oj-flex  profile-corp-header">
    <div class="oj-flex oj-md-12 oj-sm-align-items-center">
      <img class="oj-sm-3 oj-md-1 profile-image" data-bind="loadImage : 'cz/corp/common/user management.svg'">
      <span class="oj-sm-9 oj-md-11 profile-name" data-bind="text:$component.partyData().fullName"></span>
    </div>
    <!-- <div class="oj-flex-item oj-md-6 profile-header__link right oj-sm-justify-content-flex-end" data-bind="css: !$baseModel.small() ? 'right' : ''">
      <div class="oj-flex oj-sm-justify-content-flex-end oj-sm-12">
      <oj-button class="action-button-secondary" data-bind="attr:{'alt':$component.nls.download ,'title':$component.nls.downloadFile,'aria-label':$component.nls.downloadFile}, click: $component.downloadPartyDetails ">
        <span data-bind="text:$component.nls.downloadFile"></span>
      </oj-button>
      </div>
    </div> -->
  </div>
  <page-section>
    <!-- <div class="section">
      <div class="oj-flex oj-sm-12 oj-md-9">
        <div class="oj-flex-item">
          <div class="profile-header-name" data-bind="text: nls.personalInformation"></div>
        </div>
      </div>
      <div class="oj-flex data-row oj-md-9 oj-sm-12">
        <div class="oj-flex-item oj-sm-5 oj-md-4">
          <h4 class="heading-label" data-bind="text:nls.dob"></h4>
        </div>
        <div class="oj-flex-item oj-sm-6 oj-md-8 oj-lg-6">
          <div class="oj-flex oj-flex-items-pad">
            <div class="oj-flex-item">
              <span data-bind="text:$formatter.formatDate(partyData().birthDate)"></span>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </page-section>
  <page-section>
    <div class="section mar-top-32">
      <div class="oj-flex oj-sm-12 oj-md-9">
        <div class="oj-flex-item">
          <div class="profile-header-name" data-bind="text: nls.contactInformation"></div>
        </div>
      </div>
      <!-- <div class="oj-flex data-row">
        <div class="oj-flex-item oj-sm-5 oj-md-3 oj-lg-3">
          <h4 class="heading-label" data-bind="text: nls.address"></h4>
        </div>
        <div class="oj-flex-item oj-sm-6 oj-md-8 oj-lg-6">
          <div class="oj-flex oj-flex-items-pad">
            <div class="oj-flex-item">
              <span data-bind="text:address()"></span>
            </div>
          </div>
        </div>
      </div> -->
      <div class="oj-flex data-row">
        <div class="oj-flex-item oj-sm-5 oj-md-3 oj-lg-3">
          <h4 class="heading-label" data-bind="text: nls.email"></h4>
        </div>
        <div class="oj-flex-item oj-sm-6 oj-md-8 oj-lg-6">
          <div class="oj-flex oj-flex-items-pad">
            <div class="oj-flex-item">
              <span data-bind="text:partyData().email"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="oj-flex data-row">
        <div class="oj-flex-item oj-sm-5 oj-md-3 oj-lg-3">
          <h4 class="heading-label" data-bind="text: nls.phone"></h4>
        </div>
        <div class="oj-flex-item oj-sm-6 oj-md-8 oj-lg-6">
          <div class="oj-flex oj-flex-items-pad">
            <div class="oj-flex-item">
              <span data-bind="text: phoneNumber()"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </page-section>
  <!-- /ko -->

  <!-- ko if: $dashboard.appData.segment ==="RETAIL" -->

  <!-- ko if: $component.showConfirmation() -->
  <div class="confirm-screen" data-bind="template: { name: 'confirm-screen/confirm-screen-banner', data: $component.headerMessages}"></div> <!-- /ko -->
  <div class="profile-header oj-flex oj-flex-items-pad data-row">
    <div class="oj-flex-item oj-sm-12 oj-md-6">
      <img class="profile-image" data-bind="loadImage : 'corp/common/user management.svg'">
      <span class="profile-name" data-bind="text:$component.partyData().fullName"></span>
    </div>
    <div class="oj-flex-item oj-sm-12 oj-md-6 profile-header__link right" data-bind="css: !$baseModel.small() ? 'right' : ''">
      <a href="#" data-bind="attr:{'alt':$component.nls.download ,'title':$component.nls.downloadFile,'aria-label':$component.nls.downloadFile}, click: $component.downloadPartyDetails ">
        
        <span data-bind="text:$component.nls.downloadFile">
				</span>
      </a>
    </div>
  </div>
  <page-section heading="[[nls.personalInformation]]">
    <div>
      <div class="oj-flex oj-flex-items-pad data-row">
        <div class="oj-flex-item oj-sm-5 oj-md-3 oj-lg-3">
          <oj-label>
            <span data-bind="text:nls.dob"></span>
          </oj-label>
        </div>
        <div class="oj-flex-item oj-sm-6 oj-md-8 oj-lg-6">
          <div class="oj-flex oj-flex-items-pad">
            <div class="oj-flex-item">
              <span data-bind="text: $formatter.formatDate($component.partyData().birthDate)"></span>
            </div>
          </div>
        </div>
      </div>

      <!-- ko foreach:attributeList().personalDetails -->
      <span data-bind="attr:{id:'blocktoshow_'+ fieldName }">
			<div class="oj-flex oj-flex-items-pad data-row">
				<div class="oj-flex-item oj-sm-5 oj-md-3 oj-lg-3">
					<oj-label>
						<span data-bind="text:displayValue"></span>
      </oj-label>
    </div>
    <div class="oj-flex-item oj-sm-6 oj-md-8 oj-lg-6">
      <div class="oj-flex oj-flex-items-pad">
        <div class="oj-flex-item">
          <span data-bind="text: $component.partyData()[fieldName]?($component.partyData()[fieldName].displayValue ? $component.partyData()[fieldName].displayValue : $component.partyData()[fieldName]):''"></span>
        </div>
      </div>
    </div>

    <!-- ko if: editable -->

    <!-- ko ifnot: $component.disableEdit -->
    <a href="#" data-bind="click:$component.edit.bind($data,fieldName,$component.partyData()[fieldName]), attr:{'alt':$component.nls.phone, 'title' : $component.nls.update ,'aria-label':$component.nls.update}">
      <span class="oj-lg-3 oj-flex-item icon icon-remarks"></span>
    </a> <!-- /ko -->

    <!-- ko if: $component.disableEdit -->
    <a href="#" data-bind="attr:{'alt':$component.nls.phone, 'title' : $component.nls.update ,'aria-label':$component.nls.update}">
      <span class="oj-lg-3 oj-flex-item icon icon-remarks"></span>
    </a> <!-- /ko --> <!-- /ko -->
</div>
</span>
<div data-bind="attr:{id:'blockdetails_'+fieldName}" class="hide banner-update">
  <div class="oj-flex oj-flex-items-pad data-row">
    <div class="oj-flex-item oj-sm-5 oj-md-3 oj-lg-3">
      <oj-label :for="[[fieldName]]">
        <span data-bind="text:displayValue "></span>
      </oj-label>
    </div>
    <div class="oj-flex-item oj-sm-6 oj-md-8 oj-lg-6">
      <oj-input-text :id="[[fieldName]]" value="{{$component.attributeValue}}" :aria-label="[[displayValue]]"></oj-input-text>
    </div>
  </div>
  <div class="oj-flex oj-flex-items-pad data-row">
    <div class="oj-flex-item oj-sm-5 oj-md-3 oj-lg-3">
      <oj-label>
        <span class="hide" data-bind="text:displayValue "></span>
      </oj-label>
    </div>
    <div class="oj-flex-item save-cancel-btn">
      <oj-button id="save" class="action-button-primary" on-click="[[$component.save]]">
        <span slot="startIcon" class="icons icon-save"></span>
        <span data-bind="text:$component.nls.save"></span>
      </oj-button>
      <oj-button id="cancel" class="action-button-secondary" on-click="[[$component.hideUpdatedDetails.bind($data, [[fieldName]])]]">
        <span slot="startIcon" class="icons icon-cancel"></span>
        <span data-bind="text:$component.nls.cancel"></span>
      </oj-button>
    </div>
  </div>
</div> <!-- /ko -->
</div>
</page-section>
<page-section heading="[[nls.contactInformation]]">
  <div>

    <!-- ko foreach:attributeList().contactDetails -->

    <!-- ko if: !(fieldName === 'PHONEISDNO' || fieldName === 'FAXISDNO') -->
    <span data-bind="attr:{id:'blocktoshow_'+ fieldName }">
			<div class="oj-flex oj-flex-items-pad data-row">
				<div class="oj-flex-item oj-sm-5 oj-md-3 oj-lg-3">
					<oj-label>
						<span data-bind="text:displayValue"></span>
    </oj-label>
  </div>
  <div class="oj-flex-item oj-sm-6 oj-md-8 oj-lg-6">
    <div class="oj-flex oj-flex-items-pad">
      <div class="oj-flex-item email-wrap">
        <span data-bind="text: $component.partyData()[fieldName]"></span>
      </div>
    </div>
  </div>

  <!-- ko if: editable -->

  <!-- ko ifnot: $component.disableEdit -->
  <a href="#" data-bind="click:$component.edit.bind($data,fieldName,$component.partyData()[fieldName]), attr:{'alt':displayValue, 'title' : $component.nls.update ,'aria-label':$component.nls.update}">
    <span class="oj-lg-3 oj-flex-item icon icon-remarks"></span>
  </a> <!-- /ko -->

  <!-- ko if: $component.disableEdit -->
  <a href="#" data-bind="attr:{'alt':displayValue, 'title' : $component.nls.update ,'aria-label':$component.nls.update}">
    <span class="oj-lg-3 oj-flex-item icon icon-remarks"></span>
  </a> <!-- /ko --> <!-- /ko -->
  </div>
  </span>

  <!-- ko if: fieldName!== 'ADDRESS' -->
  <div data-bind="attr:{id:'blockdetails_'+fieldName}" class="hide banner-update">
    <div class="oj-flex oj-flex-items-pad data-row">
      <div class="oj-flex-item oj-sm-5 oj-md-3 oj-lg-3">
        <oj-label :for="[[fieldName]]">
          <span data-bind="text:displayValue "></span>
        </oj-label>
      </div>

      <!-- ko if: fieldName === 'FAXNO' && $component.isFaxIsdSupport() -->
      <div class="oj-flex-item oj-sm-2 oj-md-3 oj-lg-1">
        <oj-input-text :id="[[fieldName]]" value="{{$component.faxNumber().areaCode}}" :aria-label="[[displayValue]]"></oj-input-text>
      </div>
      <div class="oj-flex-item oj-sm-4 oj-md-5 oj-lg-5">
        <oj-input-text :id="[[fieldName]]" value="{{$component.faxNumber().number}}" :aria-label="[[displayValue]]"></oj-input-text>
      </div> <!-- /ko -->

      <!-- ko if: fieldName === 'PHONENO' && $component.isMobileIsdSupport() -->
      <div class="oj-flex-item oj-sm-2 oj-md-3 oj-lg-1">
        <oj-input-text :id="[[fieldName]]" value="{{$component.phoneNumber().areaCode}}" :aria-label="[[displayValue]]"></oj-input-text>
      </div>
      <div class="oj-flex-item oj-sm-4 oj-md-5 oj-lg-5">
        <oj-input-text :id="[[fieldName]]" value="{{$component.phoneNumber().number}}" :aria-label="[[displayValue]]"></oj-input-text>
      </div> <!-- /ko -->

      <!-- ko if: !((fieldName === 'PHONENO' && $component.isMobileIsdSupport())  || (fieldName === 'FAXNO' && $component.isFaxIsdSupport())) -->
      <div class="oj-flex-item oj-sm-6 oj-md-8 oj-lg-6">
        <oj-input-text :id="[[fieldName]]" value="{{$component.attributeValue}}" :aria-label="[[displayValue]]"></oj-input-text>
      </div> <!-- /ko -->
    </div>
    <div class="oj-flex oj-flex-items-pad data-row">
      <div class="oj-flex-item oj-sm-5 oj-md-3 oj-lg-3">
        <oj-label>
          <span class="hide" data-bind="text:displayValue "></span>
        </oj-label>
      </div>
      <div class="oj-flex-item  save-cancel-btn">
        <oj-button class="action-button-primary" on-click="[[$component.save]]">
          <span slot="startIcon" class="icons icon-save"></span>
          <span data-bind="text:$component.nls.save"></span>
        </oj-button>
        <oj-button class="action-button-secondary" on-click="[[$component.hideUpdatedDetails.bind($data, [[fieldName]])]]">
          <span slot="startIcon" class="icons icon-cancel"></span>
          <span data-bind="text:$component.nls.cancel"></span>
        </oj-button>
      </div>
    </div>
  </div> <!-- /ko -->

  <!-- ko if: fieldName=== 'ADDRESS'-->
  <div data-bind="attr:{id:'blockdetails_'+'ADDRESS'}" class="hide banner-update">
    <div class="oj-flex oj-flex-items-pad">
      <div class="oj-flex-item oj-sm-5 oj-md-3 oj-lg-3">
        <h4 class="heading-label" for="addressLine1" data-bind="text:$component.nls.address "></h4>
      </div>
      <div class="oj-flex-item oj-sm-6 oj-md-8 oj-lg-6">
        <oj-input-text id="addressLine1" value="{{$component.fullAddress().line1}}" :aria-label="[[ $component.nls.line1]]"></oj-input-text>
      </div>
    </div>
    <div class="oj-flex oj-flex-items-pad">
      <div class="oj-flex-item oj-sm-5 oj-md-3 oj-lg-3">
        <oj-label for="addressLine2">
          <span class="hide" data-bind="text:$component.nls.address "></span>
        </oj-label>
      </div>
      <div class="oj-flex-item oj-sm-6 oj-md-8 oj-lg-6">
        <oj-input-text id="addressLine2" value="{{$component.fullAddress().line2}}" :aria-label="[[ $component.nls.line2]]"></oj-input-text>
      </div>
    </div>
    <div class="oj-flex oj-flex-items-pad">
      <div class="oj-flex-item oj-sm-5 oj-md-3 oj-lg-3">
        <oj-label for="addressLine3">
          <span class="hide" data-bind="text:$component.nls.address "></span>
        </oj-label>
      </div>
      <div class="oj-flex-item oj-sm-6 oj-md-8 oj-lg-6">
        <oj-input-text id="addressLine3" value="{{$component.fullAddress().line3}}" :aria-label="[[ $component.nls.line3]]"></oj-input-text>
      </div>
    </div>
    <div class="oj-flex oj-flex-items-pad">
      <div class="oj-flex-item oj-sm-5 oj-md-3 oj-lg-3">
        <h4 for="city" data-bind="text:$component.nls.city "></h4>
      </div>
      <div class="oj-flex-item oj-sm-6 oj-md-8 oj-lg-6">
        <oj-input-text id="city" value="{{$component.fullAddress().city}}" :aria-label="[[ $component.nls.city]]"></oj-input-text>
      </div>
    </div>
    <div class="oj-flex oj-flex-items-pad">
      <div class="oj-flex-item oj-sm-5 oj-md-3 oj-lg-3">
        <h4 for="country" data-bind="text:$component.nls.country "></h4>
      </div>
      <div class="oj-flex-item oj-sm-6 oj-md-8 oj-lg-6">
        <oj-select-one id="country" :placeholder="[[$component.nls.country]]" :aria-label="[[ $component.nls.country]]" value="{{$component.country}}">

          <!-- ko foreach: $component.countries -->
          <oj-option value="{{value}}">
            <span data-bind="text:text"></span>
          </oj-option> <!-- /ko -->
        </oj-select-one>
      </div>
    </div>
    <div class="oj-flex oj-flex-items-pad">
      <div class="oj-flex-item oj-sm-5 oj-md-3 oj-lg-3">
        <h4 for="pincode" data-bind="text:$component.nls.pincode "></h4>
      </div>
      <div class="oj-flex-item oj-sm-6 oj-md-8 oj-lg-6">
        <oj-input-text id="pincode" value="{{$component.fullAddress().postalCode}}" :aria-label="[[ $component.nls.pincode]]"></oj-input-text>
      </div>
    </div>
    <div class="oj-flex oj-flex-items-pad">
      <div class="oj-flex-item oj-sm-5 oj-md-3 oj-lg-3">
        <oj-label>
          <span class="hide" data-bind="text:$component.nls.address "></span>
        </oj-label>
      </div>
      <div class="oj-flex-item save-cancel-btn">
        <oj-button class="action-button-primary" on-click="[[$component.save]]">
          <span slot="startIcon" class="icons icon-save"></span>
          <span data-bind="text:$component.nls.save"></span>
        </oj-button>
        <oj-button class="action-button-secondary" on-click="[[$component.hideUpdatedDetails.bind($data, 'ADDRESS')]]">
          <span slot="startIcon" class="icons icon-cancel"></span>
          <span data-bind="text:$component.nls.cancel"></span>
        </oj-button>
      </div>
    </div>
  </div> <!-- /ko --> <!-- /ko --> <!-- /ko -->
  </div>
</page-section> <!-- /ko -->

<!-- ko if: $dashboard.userData.firstLoginFlowDone -->
<div class="oj-flex button-pad">
  <oj-button id="ok" class="action-button-primary oj-flex-item oj-sm-2 oj-lg-1" on-click="[[$dashboard.hideDetails]]">
    <span slot="startIcon" class="icons icon-ok"></span>
    <span data-bind="text:nls.ok"></span>
  </oj-button>
</div> <!-- /ko -->

<!-- ko if: !$dashboard.userData.firstLoginFlowDone -->
<div class="oj-flex oj-flex-items-pad button-container">
  <oj-button id="next" class="action-button-primary" on-click="[[$component.loadNextComponent]]">
    <span data-bind="text:nls.next"></span>
  </oj-button>

  <!-- ko ifnot : componentMandatory -->
  <oj-button class="action-button-secondary " on-click="[[$component.loadNextComponent]]"><span slot="startIcon" class="icons icon-forward-arrow"></span>
    <span data-bind="text:nls.skip"></span>
  </oj-button> <!-- /ko -->
</div> <!-- /ko -->
</div> <!-- /ko -->